@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@500;600;700;800&family=Josefin+Slab:ital,wght@0,400;0,600;0,700;1,300;1,400;1,600;1,700&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,200;1,300;1,400;1,500;1,600&display=swap');

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');


*{
    margin : 0 ;
    padding: 0;
    list-style: none;
    text-decoration: none;
    justify-content: center;
    
    

}




:root{
    --font-primary: "Baloo Da 2", serif;
    --font-secundary: "Josefin Slab", serif;
    --font-action: "Mulin", serif;
}

html{
    scroll-behavior: smooth;
}

.hamburguer{
    
    width: 2rem;
    height: 2rem;
    position: fixed;
    z-index: 160;
    right: 2rem;
    top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
    
    

}

.show-menu .hamburguer{
    right: 18rem;
    
}


.line{
    color: #fff;
    width: 100%;
    height: 2rem;
    box-shadow: 0 .1rem .8rem rgba( 0, 0, 0, .9);
    
    transition: 1.2s;  
    display: block;

}

.show-menu #line1{
    transform: rotate(45deg) translate(.4rem, .4rem); 
    transition: 1s;
    
}

.show-menu #line2{
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
    
}

.show-menu #line3{
    transform: rotate(-45deg) translate(.5rem, -.5rem);
    transition: 1s;
}

.hamburguer span{
    position: absolute;
    left: 3rem;
    height: 2rem;
    width: 6rem;
    display: flex;  
    justify-content: center;
    align-items: center;
    background-color: #6a3093;
    color: #ffffff;;
    font-family: var(--font-action);
    opacity: 0;
    
    
}

.hamburguer span::before{
    content: "";
    position: absolute;
    border-right: .5rem solid #6a3093;
    border-top: .6rem solid transparent;
    border-left: .5rem solid transparent;
    border-bottom: .5rem solid transparent;
    left: -1rem;

}

.show-menu .hamburguer:hover span{
    opacity: 1;

}

header{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    animation: zoom 25sec;
}
.img-wrapper{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,1);
    
}

.img-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
    


.banner{
    position: absolute;
    top: 30%;
    left: 15%;
}

.banner h1{
    color: #6a3093;
    font-size: 3.5rem;    
    font-family: var(--font-primary);   
    font-weight: 300;
    text-shadow: 0.2rem 0.2rem 2px rgba(0,0,0,4);
    line-height: 3.5rem;
    margin-bottom: 2rem;
    animation: moveBanner 1s  0.4s forwards;
    opacity: 0;
}   

.banner h2{
    color: #6a3093;
    font-size: 8rem;    
    font-family: var(--font-primary);   
    font-weight: 300;
    text-shadow: 0.2rem 0.2rem 2px rgba(0,0,0,4);
    line-height: 3.5rem;
    margin-bottom: 2rem;
    animation: moveBanner 1s  0.4s forwards;
    opacity: 0;
    text-align: center;
}
.banner p{
    font-family: var(--font-secundary);
    color: #000;
    text-shadow: 0.1rem 0.2rem 2px rgba(0,0,0,0.3);
    margin-bottom: 2rem;
    opacity: 0;
    animation: moveBanner 1s 0.5s forwards;
    text-align: center;
    justify-content: space-around;
}

.banner button{
    font-family: var(--font-action);
    color: #fff;
    text-transform: uppercase;
    letter-spacing: .7rem;
    background: #a8c0ff;  
    background: -webkit-linear-gradient(to right, #6a3093, #a8c0ff);  
    background: linear-gradient(to right, #6a3093, #a8c0ff); 
    padding: 1rem 7.8rem;
    border: none;
    border-radius: 7px; 
    opacity: 0;
    animation: moveBanner 1s 0.6s forwards;
   


}

.banner button:hover{
    opacity: 3.0;
    color: darkblue;
    
}
@keyframes moveBanner{
    0%{
        transform: translateY(10rem) rotateY(-30deg);
    }
    100%{
        transform: translate(0rem) rotateY(0);
        opacity: 1;
    }
}

.sidebar{
   width: 20rem;
   height: 100vh;
   background-color: #fff;
   position: fixed;
   top: 0;
   right: -20rem;
   transition: all 1s;
   z-index: 150;
}

.show-menu .sidebar{
    right: 0;

}

.menu{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%)
   

}

.menu-item{
    text-align: center;
    margin-bottom:  .5rem;
}

.menu-link{
    font-family: var(--font-action);
    font-size: 2rem;
    color: #555;
    transition: color 1s;

}

.menu-link:hover{
    color: #6a3093;
    opacity: 2;

    
}   
.social-media{
    position: absolute;
    bottom: 2rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.social-media i{
    background-color: #6a3093;
    color: rgba(255,255,255, 1);
    height: 2.5rem;
    width: 2.5rem;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    border-radius: 50%;
    transition: background-color 1s;

}

.social-media i:hover{
    background-color: #a044ff;
}       


.conhecimentos{
    width: 100%;
    height: 120rem;
    overflow: hidden;
    image-rendering: auto;
   
}

.pisos{
    width: 70%;
    height: 50vh;
    background-color: #ffffff;
    text-align: center;
    object-fit: cover;
    margin-left: 13rem;
    margin-top: 2rem;
    color: black;
    font-family: var(--font-secundary);
    font-size: 1.5rem;
}

.pisos:hover{
    box-shadow: 0 .1rem .8rem rgba( 0, 0, 0, .4);
    display: block;
    justify-content: center;
    
}

.reformas{
    width: 70%;
    height: 50vh;
    background-color: #ffffff;
    text-align: center;
    object-fit: cover;
    margin-left: 13rem;
    margin-top: 2rem;
    color: black;
    font-family: var(--font-secundary);
    font-size: 1.5rem;


}

.reformas:hover{
    box-shadow: 0 .1rem .8rem rgba( 0, 0, 0, .4);
    display: block;
    justify-content: center;
    
}

.revestimentos{
    width: 70%;
    height: 50vh;
    background-color: #ffffff;
    text-align: center;
    object-fit: cover;
    margin-left: 13rem;
    margin-top: 2rem;
    color: black;
    font-family: var(--font-secundary);
    font-size: 1.5rem;


}

.revestimentos:hover{
    box-shadow: 0 .1rem .8rem rgba( 0, 0, 0, .4);
    display: block;
    justify-content: center;
    
}

.fachadas{
    width: 70%;
    height: 50vh;
    background-color: #ffffff;
    text-align: center;
    object-fit: cover;
    margin-left: 13rem;
    margin-top: 2rem;
    color: black;
    font-family: var(--font-secundary);
    font-size: 1.5rem;


}

.fachadas:hover{
    box-shadow: 0 .1rem .8rem rgba( 0, 0, 0, .4);
    display: block;
    justify-content: center;
    
}

.cores{
    width: 70%;
    height: 50vh;
    background-color: #ffffff;  
    text-align: center;
    margin-left: 13rem;
    margin-top: 2rem;
    color: black;
    font-family: var(--font-secundary);
    font-size: 1.5rem;

 
}

.btn-topicos{
    font-size: 10rem;
    text-transform: uppercase;
    width: 4%;
    margin-bottom: 1rem;
    height: 2rem;
    
}

.cores:hover{
    box-shadow: 0 .1rem .8rem rgba( 0, 0, 0, .4);
    display: block;
    justify-content: center;
    
}

.sessao-conhecimentos{
  background-color: #ffffff;
 
  

}


.sessao-header{
    display: flex;
    align-items: center;
    justify-content: center;

}

.sessao-header h1{
    font-family: var(--font-primary);
    font-size: 3rem;
    color: #4d4d4d;
    border-bottom: solid 3px #6a3093;
    margin-bottom: 1.5rem;
    

}

.conhecimento-header{
    display: flex;
    align-items: center;
    color: #000000;
   
   
}
.conhecimento-header i{

    font-size: 2.5rem;


}

.conhecimento-header i:hover{
    display: block;
}

.conhecimento-header h3{
    font-family: var(--font-secundary);
    font-size: 2rem;
    padding-left: 1rem;
    margin-top: 1rem;
    background-color: #242424;
    border-radius: 10rem;
    color: white;
    text-align: center;
    justify-content: center;
    width: 100%;
}   

.titulotopicos-header{
    width: 50%;
    height: 1vh;
    text-align: center; 
    
    
}

.conhecimento-text{
    font-family: var(--font-secundary);
    margin-top: 1rem;
   
    
    
}

.conhecimento-text:hover{
    transition: 2s;

}

.conhecimento-img-wrapper{
    grid-column:  7/ 11 ;
    grid-row: 3 / 6 ; 
    width: 300%;
    border-radius: 150%;
}

.conhecimento-img-wrapper img{
    object-fit: cover;
    width: 28%;
    border-radius: 100%;
    transition: ease 1s;
}

.projetos{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 80vh;       

}

.card{
    width: 18rem;
    height: 26rem;
    position: relative;
}

.card-img-wrapper{
    width: 100%;
    height: 100%;
    border-radius: .5rem;
    background-color: #fff;
   
}

.card-img-wrapper img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: .5rem;
    opacity: .9;
    transition: opacity .3s;
}

.card:hover  .card-img-wrapper img{
    opacity: .7;
}
.card-info{
    position: absolute;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    padding: 2rem;
    text-shadow: 0.3rem 0.2rem 0.3rem rgba(0, 0, 0, .6);
    transition: all .3s;
}

.card-info h2{
    font-family: var(--font-primary);
    font-size: 2rem;
    font-weight: 500;
    color: #eee;
}

.card-info h3{
    font-family: var(--font-secundary);
    font-weight: border;
    color: #ff4081;
    

}

.card-info p{
    font-family: var(--font-secundary);
    color: #eee;
    font-weight: 40%;
    width: 80%;
    margin-bottom: 1.5rem;

}

.btn{
    background: #a8c0ff;  
    background: -webkit-linear-gradient(to right, #6a3093, #a8c0ff);  
    background: linear-gradient(to right, #6a3093, #a8c0ff); 
    font-family: var(--font-action);
    font-size: .5rem;
    color: #eee;
    border-radius:  .5rem;
    border: none;
    box-shadow: 0 .1rem .8rem rgba( 0, 0, 0, .4);
}
.card-info button{
    width: 8rem;
    height: 2.5rem;
    
}

.card:hover .card-info{
    bottom: 2rem;
    opacity: 1;
    visibility: visible;

}

.sessao-contato{
    width: 100%;
    height: 100vh;
    background-color: #242424;
    display: flex;  
    align-items: center;
    justify-content: center;
    

}

.contato-wrapper{
    width: 60%;
    height: 30rem;
    display: flex;
    box-shadow: 0 2rem 3rem rgba(0, 0, 0, .5) ;
    
}

.contato-left{
    width: 40%;
    background-attachment: fixed;
    background: 
        linear-gradient(rgba(12, 4 ,0, 0.6),rgba(14, 22, 22, 0.9)),
        url("descarg.jpg");
    background: cover;  
    

}

.contato-right{
    width: 65%;
    background-color: #eee;
    padding: 1rem 3rem 3rem 3rem;
}

.sessao-contato h1{

    position: absolute;
    top: 83rem;
    left: 20rem;
     background: #a8c0ff;  
     background: -webkit-linear-gradient(to right, #6a3093, #a8c0ff);  
     background: linear-gradient(to right, #6a3093, #a8c0ff); 
     padding: 0 3rem;
     color: #fff;
     font-family: var(--font-primary);
     font-size: 3rem;
     font-weight: lighter;
     box-shadow: 0 .1rem .8rem rgba( 0, 0, 0, .4);
     border-radius: 10px;
}

.sessao-contato form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center ;

}

.input-group{
    position: relative;
    align-items: center;
    margin-top: 7%;
    

}

.field{
    background: transparent;
    border: none;
    width: 20rem;
    font-size: 1rem   ;
    font-family: var(--font-secundary);
    border-bottom: 2px dashed #636363;
    height: 4rem;
    padding-top: 2.3%;
    outline: none;
    margin: 1rem, 0;
}

.input-group textarea{
    padding-top: 2rem;
    max-width: 25rem;
    max-height: 7rem;

}

.field-label{
    margin-top: 2%;
    position: absolute;
    left: 0;
    align-items: center;
    font-size: 1rem;
    font-family: var(--font-secundary);
    text-transform: uppercase;

        
}

.field:focus ~ label{
    top: 0;
    font-size: 1rem;
}

.field:focus{
    border-bottom: 1px solid;
}

.btn-submit{
    font-size: 1.6rem;
    color: #fff;
    text-transform: uppercase;
    width: 100%;
    height: 2rem;
    margin-top: 3rem;

}

.sessao-propaganda img{
    width: 100%;
    height: 50vh;
    margin-top: 4px;
    border: firebrick;
    border-color: black;
    background-color: black;
    justify-content: center;

}

.sessao-orcamento{
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
    background:
        linear-gradient(rgba(12, 4 ,0, 0.6),rgba(14, 22, 22, 0.9));
    object-fit: cover;
    display: flex;
    justify-content:  center;
    align-items: center;

}

.orcamento-wrapper{
    width: 60%;
    height: 80%;
    background-color: #ffffff99;
    border-radius: 10px;
    box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 5);
    position: relative;
}

.sessao-orcamento h1{
    top: -2.5rem;
   position: absolute;
     left: 2rem;
    background: #a8c0ff;  
    background: -webkit-linear-gradient(to right, #6a3093, #a8c0ff);  
    background: linear-gradient(to right, #6a3093, #a8c0ff); 
    padding: 0 3rem;
    color: #fff;
    font-family: var(--font-primary);
    font-size: 3rem;
    font-weight: lighter;
    box-shadow: 0 .1rem .8rem rgba( 0, 0, 0, .4);
    border-radius: 10px;
}

.sessao-orcamento form{
    margin: 7rem;
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 2.5rem;
    row-gap: 1.5rem;

}

.sessao-orcamento label{
    font-family: var(--font-secundary);
    font-size: 1.5rem;
    font-weight: bold;

}

.sessao-orcamento input[type="number"]{
    font-family: var(--font-secundary);
    width: 4rem;
    font-size: 2rem;
    outline: none;
    border-radius: 10px;
    border: none;
    text-align: center;
    padding: 0.3rem;
}

.btn-orcamento{
    text-transform: uppercase;
    padding: 1rem;
    cursor: pointer;
    grid-column: 2;
    font-size: .7rem;
}
.btn-orcamento:hover{
    opacity: 3.0;
    transform: 3s;
    color: darkblue;
}

footer{
    width: 100%;
    height: 4rem;
    background-color: #17181b;
    display: flex;
   justify-content: center;
   align-items: center;
}

.footer-content{
    width: 60%;
    display: flex;
    justify-content: space-evenly;


}

.footer-content p{
    font-family: var(--font-secundary);
    color: #a7a7a7;
    font-size: 1.2rem;
}

.social-list a{
    margin: 0 2rem;
    color: #a7a7a7;
    font-size: 1.3rem;
}

.social-list ul{
    display: flex;
}

#link-topo{
    position: fixed;
    right: 3rem;
    bottom: 3rem;
    width: 3rem;
    height: 3rem;
    background: #a8c0ff;  
    background: -webkit-linear-gradient(to right, #6a3093, #a8c0ff);  
    background: linear-gradient(to right, #6a3093, #a8c0ff); 
    display: flex;
    justify-content: center;
    color: #fff;
    border-radius: 5rem;
    align-items: center;
    box-shadow: 0 0.1rem 0.6rem #000000;
    
}




/*PAG FACHADA*/


*.grid-fachada{
    width: 100%;
    height: 36vh;
    
}

.text-fachada{
    margin-top: 7rem;
    margin-left: 17rem;
    font-size: 1rem;
    width: 60%;
    text-align: center;
    justify-content: center;
    font-family: var(--font-primary);
    box-shadow: 0 0.3rem 0.6rem #000000;
    border-radius: 10px;
    align-items: center;
    background-color: #fff;
    
}

.sub-titulo{
    font-size: 3rem;
    background-image: url("descarg.jpg");
    
}

.sessao-header-fachada{
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #dcdcdc;

}

.sessao-header-fachada h1{
    font-family: var(--font-primary);
    font-size: 2rem;
    color: #000000;
    margin-bottom: 0.6rem;
}

.card-colada{
    font-display: 3rem;
    font-family: var(--font-secundary);
    margin-top: 0.3rem;
    margin-bottom: 10rem;
    color: #000000;
    text-align: center;
    
}

.card-ventilada{
    font-display: 3rem;
    font-family: var(--font-secundary);
    margin-top: 1rem;
    margin-bottom: 5rem;
    color: #000000;
    text-align: center;
    
}

.sessao-ftpiso{
    width: 100%;
    position: relative;
    
    
}


.text-Piso{
    font-family: var(--font-secundary);
    margin-top: 11rem;
    width: 80%;
    font-size: 1.2rem;
    margin-left: 8rem;
    text-align: center;
    justify-content: center;    
    background-color: #fff;
}

.text-Piso hr{
    margin-top: 3rem;
}

.rodape-pavimento1{
    margin-top: 2rem;
    align-items: center;
    margin-left: 16rem;
}

.rodape-pavimento1{
    margin-top: 2rem;
    align-items: center;
    margin-left: 16rem;
}

.rodape-pavimento3{
    margin-top: 2rem;
    align-items: center;
    margin-left: 11rem;
    border-radius: 20px;
}

.rodape-pavimento3:hover  {
    opacity: .7;
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: .5rem;
    opacity: .9;
    transition: opacity .3s;
    
}


.rodape-pavimento4{
    align-items: center;
    margin-left: 7.4rem;
    margin-bottom: 4rem;
}


.foto-cor{
    border-radius: 100px;
    padding: 15px;
    transition: all .3s;
    align-items: left;
}



.foto-cor h2{
font-family: var(--font-primary);
font-size: 1rem;
color: #eee;
background-color: #fff;
}
